<!-- AndroidManifest.xml -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movieapp">

    <!-- İnternet izni -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieApp"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Ana Aktivite -->
        <activity
            android:name=".MainMenuActivity"
            android:exported="true"/>

        <!-- Diğer Aktiviteler -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".AddEditMovieActivity"
            android:exported="false" />
        <activity
            android:name=".EditMovieActivity"
            android:exported="false" />
        <activity
            android:name=".MovieDetailActivity"
            android:exported="false" />
        <activity
            android:name=".TvSeriesActivity"
            android:exported="true" />
        <activity
            android:name=".EditTvSeriesActivity"
            android:exported="false" />
        <activity
            android:name=".TvSeriesDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AddEditTvSeriesActivity"
            android:exported="false" />
        <activity
            android:name=".RecommendationActivity"
            android:exported="false" />
    </application>

</manifest>
